@keyframes show-toast{
    0%  {bottom: -100%;}
    20% {bottom: 100px}
    80% {bottom: 100px;}
    100% {bottom: -100%}
}

.notification{
    position: fixed;
    bottom: 100%;
    right: 20px;
    animation-name: show-toast;
    animation-duration: 5s;
    z-index: 99;
}

.btn{
    padding: 2px 1.75rem;
    font-size: 12px;
    cursor: pointer;
}

.main-search.fancy .field-holder input[type="text"]{
    color: #000000 !important;
}


table > tbody > tr > td{
    border: none !important;
}

#opening_hours select{
    padding: 5px 10px !important;
}

.btn-success.add_hour{
    padding: 7px 15px 7px 15px;
}

/* Hide radio button */
.payment-method [type=radio]{
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* image style */

.payment-method [type=radio] + img{
    cursor: pointer;
    padding: 5px;
}

/* check the style */
.payment-method [type=radio]:checked + img{
    outline: 2px solid #ff0000;
}
/* tbody, tbody, tr, td {
    border:1px solid black;
} */